<header class="app-header">
  <h1 class="app-title">{{title}}</h1>
  <div class="app-corner">
    <a href="https://www.google.com">
      <button mat-icon-button aria-label="This project repositpry">
        <mat-icon svgIcon="github"></mat-icon>
      </button>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="donations" aria-label="Donate to this project author">
      <mat-icon>paid</mat-icon>
    </button>
    <mat-menu #donations="matMenu">
      <button mat-menu-item (click)="onDonationCopy('TL2XNcMELXiW2uUwbJ5M9TA71UwCM3W9dL')">
        <mat-icon svgIcon="trx"></mat-icon>
        <span>Tron (TRX)</span>
      </button>
      <button mat-menu-item (click)="onDonationCopy('bc1qswuvn6x6ntw5uhp5rj0ghpgtr2l6u3lpfgau00')">
        <mat-icon svgIcon="btc"></mat-icon>
        <span>Bitcoin (BTC)</span>
      </button>
      <button mat-menu-item (click)="onDonationCopy('0xEaAaBD955CD1CcFCA7c5bf7567fAc4Dd2d2F543f')">
        <mat-icon svgIcon="eth"></mat-icon>
        <span>Ethereum (ETH)</span>
      </button>
    </mat-menu>
  </div>
</header>

<form class="app-middle" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" subscriptSizing="dynamic" class="input-window">
    <input matInput #text>
  </mat-form-field>
</form>

<footer class="app-footer">
  <button mat-raised-button (click)="onSubmit()">ДАВАЙ!</button>
  <button mat-raised-button (click)="onTextCopy()">КОПИРУЙ!</button>
</footer>
